body,
html {
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  background-color: #EEEEEE;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.game-container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.drawing-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.drawing-canvas {
}

.pictionary-tools {
  background-color: #222222;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  height: 6vh;
  min-height: 48px;
  position: relative;
}

.tool-button {
  border: none;
  background-color: transparent;
  outline: none;
}

.tool-button img {
  height: 50%;
  transition: opacity 0.2s filter 0.2s;
}

.tool-button:active img {
  opacity: 0.6;
}