{{#each users}}
<section class='user'>
  <section class='user-icon' style="background-color: {{this.color}};">
    <img src="{{this.icon}}"/>
  </section>
  <span class='user-name'>User</span>
</section>
{{/each}}